@{
    ViewBag.Title = "Home Page";
}

<nav class="welcome-action">
    <ul>
        <li>
        <a href="@ViewBag.Action">
            @ViewBag.Message
        </a>
        </li>
        <li>
        <a href="consume/index">
            Recent consume
        </a>
        </li>
        <li>
        <a href="recharge/index">
            Recent recharge
        </a>
        </li>
    </ul>
</nav>
